<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="favicon.ico">

		<style>
			body {
				overscroll-behavior-y: contain;
				user-select: none
			}

			@media screen and (max-width: 500px) { 
				html, body, input, button {
					font-size: 20px;
				}
			}
		</style>


		<%- include(style); %>

		<%- include(script); %>
        
        
	</head>

	<body>
		<header>
			<h1>Fgta5gridview Development</h1>
		</header>
		
		<main>

		</main>

	</body>



</html>